<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header"></header>
            <p>
                Python Academy <span class="heart">♥️</span> Students
            </p>
            <p class="small">
                    <div>
                      {% for flashcard in flashcards %}
                      <div>
                          <p>{{ flashcard.name }}<p>
                          <p>
                              {{flashcard.quiz}}
                          <p>
                          <p>
                             {{flashcard.explanation}}
                         </p>
                          </div>
                      {% endfor %}
                    </div>
            </p>
        </header>
    </div>
</body>

</html>
