<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="main">
        <header class="header">
            <p>
                Python Academy <span class="heart">♥️</span> Students
            </p>
        </header>
        <div class="cards">
            {% for flashcard in flashcards %}
            <div class="card">
                <div class="title">{{ flashcard.name }}</div>
                <p class="question">
                    {{flashcard.quiz}}
                <p>
                <p class="explanation">
                    {{flashcard.explanation}}
                </p>
                <p class="card-footer">{{flashcard.author}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
